.portrait{
    border-radius: 50%;
    margin: 3%;
}

.container{
    text-align: center;
    margin-bottom: 3em;
    font-size: 20px;
}
h4{
line-height : 50px;
}

a{
    color: #D4968C;
    font-weight: bold;
}

a:hover {
    color:  #D4968C;
    }

.jumbotron{
    margin-top: 5em;
    background-image: url(image/phrase-ok.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    
}
