.form-group{
    margin-top: 2em;
    margin-bottom: 3em;
    margin-left: 10%;
    margin-right: 10%;
}

main{
    font-family: 'Poppins', sans-serif;
}
.fin{
    margin-bottom: 10em;
}

h2{
    text-align: center;
    line-height : 90px;
}

h3{
    color: #DD470A;
    line-height: 60px;
}

h5 > a{
    color: #D4968C;
}



/*.bientot{
    size: 20%;
}
*/