body{
    font-family:'Poppins', sans-serif;
}

.titreshop {
    
    font-weight: bold;
    font-style: italic;
    
}
.para{
    margin-bottom: 5em;
}
.btn-primary{
    background-color: #DD470A;
    border: #DD470A;
    text-align: left;
}
.card-title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    ;
}

.card-text{
    text-align: right;
    font-size: 14px;
    font-style: italic;
    color: #4F5B40
}

.card-body{
    text-align: left;
}

.cardshop{
    width: 80%;
    padding: 0%;
    margin: 0%;
    margin-bottom: 8%;
    border-color:#DDD9C9;
    box-shadow:  10px 3px 20px #DDD9C9;
    text-align: center;
}
.row{
    margin:2em;
}

.card-img-top{
    width: 65%;
}

.jumbotron{
    background-color: #DDD9C9;
    font-size: 40%;
    position: relative;
    background-size: cover;
    padding: 2em;
    
}
.etsy{
    margin-bottom: 5em;
}
