
body{
    font-family: 'Poppins', sans-serif;

}

.crea{
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    color: #49573B;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2%;
}

@media screen and (max-width: 769px) {
    .crea{
        font-size: 60%;

    }
}

.menubtn{
margin: 30px;
text-align: center;
}
.bouton{
    background-color: #D3958B;
    border: none;
    margin: 2px;
}

.bouton:hover{
    background-color: #DC4813;
}
.comment{
    margin-left: 50px;
    margin-top:20px;
    color: #DC4813;
}

.justifier{
    text-align: justify;
  text-justify: inter-word;
}
.petit{
    font-size: small;
}

.lien{
    color: #CE8B0B;
}

.lien:hover{
    color:#D45115;
}

.flo{
    margin: 25%;
}

.numero{
    padding-top: 75%;
    padding-left: 10px;
}

.numero3{
    padding-top: 40%;
    padding-left: 10px;
}

.liste{
    font-size: 100%;
}

li{
    list-style-type: none;
}

#formule{
    text-transform: capitalize;
}

#formulebg{
    background-color: #dcdac9;
    background-size: 100%;
    padding: 20px;
    

}

.pb-5{
    padding-top: 20px;
    padding-bottom: 20px;
}

#nb{
    font-size: 1rem;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 40px;
}


/* slidshowgalerie */

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    margin-top: 30px;
  }

  .gal{
      width: auto;
      background-color: #ddd9c9;
      padding-top: 16px;
  }
  
  /* Hide the images by default */
  .mySlides {
    text-align: center;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 12px;
    padding: 20px 12px;
    top: 0;
    margin-left: auto;
    margin-right: auto;

  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #ddd9c9;
    padding: 10px 10px;
    color: black;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
    padding: 4px;
    height: auto;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


table{
    border-collapse: collapse;
    margin:auto;
    margin-bottom: 40px;
    font-size: 120%;

    
}

.table{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media screen and (max-width: 769px) {
    table{
        font-size: 100%;

    }
}

td, th{
    border: 1px solid black;
    text-align: center;
    width: 250px;
}

caption{
    caption-side: top;
    color: black;
}

.note{
    text-align: right;
    font-size: 14px;
    caption-side: bottom;
}

.pied-de-page{
    font-weight: lighter;
}

