body{
    font-family: 'Poppins', sans-serif;

}
.figure-caption{
    margin : 10%;
    margin-top: 0%;
    text-align: justify;
    font-size: medium;
    
}
.bapt {
    width: 40%;
    height: auto;
    margin: 4%;  
}

.t-shirt {
    width: 65%;
}
h5{
    text-align: center;
}

.crea{
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    color: #49573B;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5%;
}
@media screen and (max-width: 769px) {
    .crea{
        font-size: 60%;

    }
}

.pied-de-page{
    font-weight: lighter;
}

