/* en-tête site  */
header{
    font-family: 'Poppins', sans-serif;
    
}

.navbar{
    background-color: white;
    margin-right: 3%;
}

#logo{
    margin-top: 10%;
    margin-left: 20%;
    /*
    box-shadow:  10px 3px 20px #49573B;
    
    margin-top: 20%;
    margin-left: 10%;
    */

    
}

@media screen and (max-width: 769px) {
    .pied-de-page{
        font-size: 5%;
    }
}

/* pieds de site  */
.pied-de-page{
    color: #49573B;
}

.ligne{
    border:none;
}

.blockquote {
    font-size: 1rem;
}